.header {
  background-color: #131921;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.search {
  width: 40%;
  padding: 6px;
  border: none;
  border-radius: 4px;
}

.cart {
  cursor: pointer;
}


.home {
  text-align: center;
}

.productContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

